POSTGRES_DB=licitaciones_db
POSTGRES_USER=licitaciones_user
POSTGRES_PASSWORD=change_this_password
POSTGRES_PORT=5432
ConnectionStrings__Licitaciones=Host=localhost;Port=5432;Database=licitaciones_db;Username=licitaciones_user;Password=change_this_password
